* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: bisque;
}

.quiz-box {
    border: 1px dashed black;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 0 15px 0;
}

.giphy {
    padding: 15px;
}


